 /* https://stackoverflow.com/questions/37744379/create-nested-drop-down-list-in-html-css-form */
 
 ul.nested-navigation, ul.main-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #1bc2a2;
  }
  
  ul.nested-navigation li.nav-item, ul.main-navigation li.nav-item {
    display: block;
    position: relative;
    float: left;
    background: #1bc2a2;
  }
  li.nav-item ul.nested-navigation { display: none; }
  
  ul.nested-navigation li.nav-item a, ul.main-navigation li.nav-item a {
    display: block;
    padding: 1em;
    text-decoration: none;
    white-space: nowrap;
    color: #fff;
  }
  
  ul.nested-navigation li.nav-item a:hover, ul.main-navigation li.nav-item a:hover { background: #2c3e50; }
  li.nav-item:hover > ul.nested-navigation {
    display: block;
    position: absolute;
  }
  
  li.nav-item:hover li.nav-item { float: none; }
  
  li.nav-item:hover a { background: #1bc2a2; }
  
  li.nav-item:hover li.nav-item a:hover { background: #2c3e50; }
  
  ul.main-navigation li.nav-item ul.nested-navigation li.nav-item,   ul.nested-navigation li.nav-item ul.nested-navigation li.nav-item { border-top: 0; }
  ul.main-navigation ul.nested-navigation ul.nested-navigation, ul.nested-navigation ul.nested-navigation ul.nested-navigation {
    left: 100%;
    top: 0;
  }
  ul.main-navigation::before, ul.nested-navigation:before,
  ul.main-navigation::after, ul.nested-navigation:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  
  ul.main-navigation::after, ul.nested-navigation:after { clear: both; }