@import "~react-image-gallery/styles/css/image-gallery.css";

.ItemPage {
    width: 100%;
    padding: 5vh 10vw;
    display: flex;
}

.ItemPage__carousel {
    display: inline-block;
    width: 40%;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: 400px;
}

.image-gallery-thumbnail {
    width: 60px;
    margin: 0 2vw;
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
    height: 120px;
    width: 40px;
}

.image-gallery-thumbnails .image-gallery-thumbnails-container {
    text-align: left;
}

.ItemPage__content {
    width: 55%;
    margin-left: 5%;
}

.ItemPage__labels {
    display: flex;
    padding: 1vh 0;
}

.ItemPage__label {
    width: 80px;
    font-size: 9px;
    padding: 2px 9px;
    margin-right: 8px;
}

.ItemPage__itemName {
    margin-top: 15px;
}

.ItemPage__itemName h2 {
    font-weight: 300;
    font-size: 30px;
    line-height: 34px;
    margin: 0;
}

.ItemPage__price-wrapper {
    margin-top: 15px;
}

.ItemPage__price, .ItemPage__price__before, .ItemPage__price__discount {
    display: inline-block;
    display: inline-block;
    font-weight: 500;
    margin-right: 15px;
    font-size: 26px;
}

.ItemPage__price__before {
    color: black;
    text-decoration: line-through;
}

.ItemPage__price__discount {
    color: red;
}

.ItemPage__rating {
    margin-top: 15px;
}

.ItemPage__star {
    width: 15px;
    height: 15px;
}

.ItemPage__reviews-link {
    display: inline-flex;
    align-items: center;
    color: #0bb648;
    font-size: 12px;
    line-height: 16px;
    margin-top: 15px;
    margin-left: 20px;
    transition: 0.5s color;
}

.ItemPage__reviews-link > span {
    margin-left: 5px;
}

.ItemPage__reviews-link:hover {
    color: #000;
}

.ItemPage__reviews-link__icon {
    width: 16px;
    height: 16px;
    fill: #0bb648;
    transition: 0.5s fill;
}

.ItemPage__reviews-link:hover > .ItemPage__reviews-link__icon {
    fill: #000;
}

.ItemPage__inStock {
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-weight: 600;
    font-size: 12px;
    line-height: 10px;
    margin-top: 15px;
}

.ItemPage__inStock::before {
    content: '';
    border-radius: 50px;
    display: inline-block;
    height: 10px;
    width: 10px;
    background-color: #0bb648;
    margin-right: 5px;
}

.ItemPage__addToCart {
    display: flex;
    margin-top: 15px;
}

.ItemPage__cartButton {
    background-color: #0bb648;
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s background-color;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ItemPage__cartButton-blue {
    margin-top: 15px;
    background-color: #3095dd;
    display: block;
    width: 100%;
    height: 52px;
    cursor: pointer;
    transition: 0.5s background-color;
    font-size: 14px;
}

.ItemPage__cartButton:hover, .ItemPage__cartButton-blue:hover {
    background-color: black;
}

.ItemPage__cartIcon {
    height: 20px;
    width: 20px;
    margin-right: 9px;
    fill: white;
}