.ContentPage {
    padding: 25px 2vw 25px 3vw;
    display: flex;
}

.ContentPage .ItemsCards {
    padding: 0;
}

.ContentPage__sidebar-wrapper {
    width: 15%;
    display: inline-block;
}

.ContentPage__content {
    width: 85%;
    display: inline-block;
}

.ContentPage__filters {
    background-color: #666;
}