.ContentPage {
    padding: 25px 2vw 25px 3vw;
    display: flex;
}

.ContentPage .ItemsCards {
    padding: 0;
}

.ContentPage__sidebar-wrapper {
    width: 15%;
    display: inline-block;
}

.ContentPage__content {
    width: 85%;
    display: inline-block;
}

.ContentPage__filters {
    background-color: #666;
}

.ContentPage__price-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ContentPage__price-min, .ContentPage__price-max {
    display: inline-flex;
    width: 50%;
    flex-direction: column;
}

#ontentPage__price-min__input, #ContentPage__price-max__input {
    width: 100%;
    display: block;
}

.ContentPage__title {
    margin-left: 2.4%;
}

.ContentPage__order {
    text-align: right;
    font-weight: 300;
    color: #888;
    font-size: 14px;
}

.ContentPage__order-select {
    margin: 0 2.4%;
    appearance: none;
    border: 2px solid #eee;
    background: #f7f8fa url(data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgZGF0YS1wcmVmaXg9ImZhcyIgZGF0YS1pY29uPSJzb3J0LWRvd24iIHJvbGU9ImltZyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgMzIwIDUxMiIgY2xhc3M9InN2Zy1pbmxpbmUtLWZhIGZhLXNvcnQtZG93biBmYS13LTEwIGZhLTN4Ij48cGF0aCBmaWxsPSIjMDAwIiBkPSJNNDEgMjg4aDIzOGMyMS40IDAgMzIuMSAyNS45IDE3IDQxTDE3NyA0NDhjLTkuNCA5LjQtMjQuNiA5LjQtMzMuOSAwTDI0IDMyOWMtMTUuMS0xNS4xLTQuNC00MSAxNy00MXoiIGNsYXNzPSIiPjwvcGF0aD48L3N2Zz4=) right center no-repeat;
    background-position: calc(100% - 7px) 2px;
    background-size: 10px;
    color: #000;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
    height: 30px;
    padding: 3px 23px 3px 8px;
    outline: none;
}

.ContentPage__mobile-filters {
    align-items: center;
    display: none;
}

.ContentPage__mobile-filters__icon {
    height: 15px;
    width: 15px;
    fill: white;
    margin-right: 10px;
}

.ContentPage__mobile-filters-hide {
    display: block;
}

.ContentPage__price-slider {
    width: 90%;
}

@keyframes removeElem {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
    99% {
        height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .ContentPage {
        display: flex;
        justify-content: center;
    }
    .ContentPage__mobile-filters-hide {
        animation: removeElem 0.5s;
        animation-fill-mode: forwards;
    }

    .ContentPage__mobile-filters-hide .Sidebar__wrapper {
        transform: translateX(-100%);
    }

    .ContentPage__order {
        text-align: left;
        display: flex;
        align-items: center;
        width: calc(100% - 4.8%);
        margin: 0 2.4%;
    }
    .ContentPage__mobile-filters {
        display: inline-flex;
        align-items: center;
        width: 50%;
        line-height: 20px;
    }
    .ContentPage__order-select {
        width: 50%;
        margin: 0;
    }
    .ContentPage__order-select-text {
        display: none;
    }
    /*  */
    .ContentPage__sidebar-wrapper {
        position: fixed;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 999;
    }
    .ContentPage__sidebar-wrapper .Sidebar__title {
        display: none;
    }

    .ContentPage__sidebar-wrapper .Sidebar__wrapper {
        width: 250px;
        background-color: white;
        padding: 20px 20px 0px;
        overflow: auto;
        animation: slidein 0.5s;
        animation-fill-mode: forwards;
        transition: 0.5s transform;
    }

    .ContentPage__sidebar-wrapper .Checkbox,
    .ContentPage__sidebar-wrapper .Sidebar li span.SidebarNavItem__title {
        color: black;
    }
}