.GoodsList {
    margin-top: 20px;
}

.GoodsList__title-wrapper {
    display: flex;
    align-items: center;
    padding: 0 5vw;
    margin-bottom: 10px;
    
}

.GoodsList__title-wrapper::after {
    content: '';
    height: 1px;
    flex-grow: 1;
    background-image: linear-gradient(to right, #eb600a 69%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 15px 1px;
    background-repeat: repeat-x;
}

.GoodsList__title-image {
    margin: 0 20px;
}

.GoodsList__title {
    font-weight: 500;
    font-size: 20px;
    margin-right: 20px;
}