.LinkButton {
    font-size: 1.5vw;
    text-transform: uppercase;
    height: 4.5vh;
    display: flex;
    align-items: center;
    color: inherit;
    position: relative;
}

.LinkButton__NavLink {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
}

.LinkButton::before, .LinkButton::after {
    content: '';
    top: 0;
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 100%;
    height: 3px;
    background-color: #ffdd00;
}

.LinkButton::after {
    top: auto;
    bottom: 0;
}

.LinkButton:hover::before, .LinkButton:hover::after {
    opacity: 1;
}