.Compare {
    padding: 50px 10vw 5vh 10vw;
}

.Compare__img {
    margin: 0 auto;
    height: 100px;
    display: block;
}

.Compare table {
    max-width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

.Compare th, .Compare td {
    padding: 10px;
    text-align: center;
}

.Compare tr {
    border-bottom: 1px solid #eee;
}

.Compare th > a > span {
    display: block;
    max-width: 200px;
    margin: 0 auto;
}

.Compare button {
    outline: none;
    background-color: transparent;
    color: black;
    border: none;
    background-image: linear-gradient(to left, black 50%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    cursor: pointer;
}

.Compare a {
    color: black;
    transition: 0.5s color;
}

.Compare a:hover {
    color: #e78905;
}

.Compare > a {
    text-decoration: underline;
}

.Compare button:hover {
    background-image: linear-gradient(to left, #e78905 50%, rgba(255,255,255,0) 0%);
    color: #e78905;
}

.Compare__empty-wrapper {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #999;
}

.Compare__empty-img {
    width: 15%;
    height: 40%;
    fill: #999;
}

.Compare__title {
    border-bottom: 1px solid #eee;
    font-size: 34px;
    line-height: 38px;
    padding: 0px 0px 50px;
    margin: 0px 0px 40px;
    text-align: center;
    color: #000;
    font-weight: 600;
}