
.logo {
    height: 100%;
}

.logo__wrapper {
    max-width: 30vw;
    height: 100%;
}

.logo__link {
    height: 100%;
}

.logo__image-wrapper {
    height: 15vh;
    display: flex;
}

.logo__title-wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
    height: 100%;
}

.logo__image-wrapper-simple {
    height: 10vh;
}

.logo__title-wrapper-simple {
    flex-direction: row;
    margin: 0;
    align-items: center;
}

.logo__title_1, .logo__title_2 {
    font-weight: 700;
    font-size: 4vh;
    color: #ffdd00;
    
    /* text-shadow: 1px 1px rgba(0, 0, 0, 0.6); */
}

.logo__title_1-simple , .logo__title_2-simple {
    font-size: 3.6vh;
    color: #edc225;
}

.logo__title_2 {
    margin-top: 5vh;
    color: #e78905;
}



.logo__subtitle {
    font-weight: 700;
    font-size: 3.5vh;
    color: #e78905;
}