
.logo {
    height: 100%;
}

.logo__wrapper {
    max-width: 20vw;
}

.logo__image-wrapper {
    height: 15vh;
    display: flex;
}

.logo__title-wrapper {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
}

.logo__title_1 {
    font-weight: 700;
    font-size: 3vh;
    color: #ffdd00;
}

.logo__title_2 {
    font-weight: 700;
    font-size: 3vh;
    color: #eb5f0a;
}

.logo__subtitle {
    font-weight: 700;
    font-size: 3vh;
    color: #9a4d00;
}