.Label {
    margin-top: 2%;
    display: inline-block;
    padding: 2px 18px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.Label_blue {
    background-color: blue;
}

.Label_red {
    background-color: red;
}

.Label_green {
    background-color: green;
}
