.MainPage__viewAllGoods-wrapper {
    margin: 15px auto;
    text-align: center;
}

.MainPage__viewAllGoods {
    color: white;
    background-color: #e78905cc;
    font-size: 18px;
    padding: 5px;
    text-transform: uppercase;
    transition: 0.5s background-color;
}

.MainPage__viewAllGoods:hover {
    background-color: #e78905;
}

