.search_wrapper {
    width: 40vw;
    height: 50%;
    display: flex;
    align-items: center;
    margin: 0 1vw;
    padding-left: 4vw;
}

.search_field {
    height: 70%;
    width: 100%;
    font-size: 1.1vw;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 30px;
    padding: 0 1vw;
    transition: 0.5s all;
}

.search_field:focus {
    outline: none;
    box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.33)
}


.search {
    transform: translateX(-7vh);
    width: 5vh;
    height: 5vh;
    cursor: pointer;
}