.Offer {
    padding: 0px 10vw 5vh 10vw;
    animation: 0.35s linear 0s stretch;
}

@keyframes stretch { from { margin-top: -1%; opacity: 0; } to { margin-top: 0; opacity: 1; }  }

.Offer > h1 {
    text-align: center;
    font-weight: 400;
    padding: 5vh 0;
    margin-bottom: 5vh;
    margin-top: 0;
    border-bottom: 1px solid #ddd;
}

.Offer > span {
    font-weight: 300;
    margin-top: 3vh;
    display: block;
}

.Offer > ul {
    list-style-type: square;
}

.Offer li {
    margin-top: 3vh;
    font-weight: 300;
}

.Offer a {
    color: black;
    text-decoration: underline;
    transition: 0.5s all;
    cursor: pointer;
}

.Offer a:hover {
    color: #e78905;
    text-decoration: underline;
}

