.CategoriesCard {
    display: inline-block;
    text-align: center;
    position: relative;
    background-color: #eef1f5;
    cursor: pointer;
    transition: 0.5s all;
    margin: 1vw;
    padding: 1vw;
    height: 25vw;
}

.CategoriesCard:hover {
    transform: scale(1.05);
}

.CategoriesCard_image {
    transition: 0.5s all;
    height: 100%;
    width: 100%;
    position: relative;
}

.CategoriesCard:hover .CategoriesCard_title {
    padding: 2vh 2.5vh;
    background-color: rgba(255, 255, 255, 0.85);
}

.CategoriesCard:hover .CategoriesCard_image {
    opacity: 0.5;
}

.CategoriesCard_title-wrapper {
    display: block;
    text-align: center;
    font-weight: 700;
    position: absolute;
    width: 100%;
    top: calc(50% - 2vh);
    text-transform: uppercase;
    z-index: 99;

}

.CategoriesCard_title {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1.5vh 2vh;
    transition: 0.5s padding;
    display: inline-block;
    min-width: 10vw;
}

.CategoriesCard_image-wrapper {
    height: 100%;
    width: 100%;
    display: block;
}

