.Sidebar__wrapper {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.Sidebar__title {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #000;
    margin: 0px 0px 15px;
    padding: 0px 0px 15px;
    border-bottom: 1px solid #eee;
}

.Sidebar {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Sidebar ul {
    padding: 0;
}

.Sidebar li {
    line-height: 33px;
    cursor: pointer;
}

.Sidebar input {
    padding-left: 10px;
    max-width: 80%;
}

.Sidebar label.Checkbox {
    height: 100%;
}

.Sidebar li:hover > span.SidebarNavItem__title,
.Sidebar li:hover > label,
.Sidebar li:hover > a,
.Sidebar li:hover > div > span,
.Sidebar li:hover > div > a {
    color: #ed8d12;
}

.Sidebar li:hover > div > .chevron {
     fill: #ed8d12;
}

.Sidebar li span.SidebarNavItem__title, 
.Sidebar a, 
.Sidebar .chevron, 
.Sidebar label {
    font-weight: 300;
    color: #888;
    fill: #888;
    font-size: 14px;
    transition: 0.3s all;
    cursor: pointer;
}