.DeliveryCard {
    margin: 20px 0;
    border: 1px solid #eee;
}

.DeliveryCard__header {
    padding: 10px;
    background-color: #f7f8fa;
    display: flex;
    align-items: center;
}

.DeliveryCard__deliveryIcon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.DeliveryCard__selectedCity {
    color: green;
    border-bottom: 1px green dashed;
    cursor: pointer;
}

.DeliveryCard__content {
    padding: 15px 20px;
    font-size: 15px;
}

.DeliveryCard__content > span {
    font-weight: 700;
}

.DeliveryCard__content ul {
    list-style-type: square;
}

.DeliveryCard__content li {
    margin-top: 7px;
    color: #333;
    font-weight: 300;
}