.Footer__wrapper {
    display: flex;
    padding: 0 5vw;
    background-color: #eee;
}

.Footer__wrapper ul > li {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.Footer__wrapper ul > li > a, .Footer__wrapper ul > li {
    color: #111;
    font-weight: 300;
    transition: 0.4s color;
}

.Footer__wrapper ul > li > a:hover {
    color: #eb5f0a;
}

.Footer__wrapper ul > li:nth-child(1) > span {
    font-weight: 700;
    font-size: 22px;
    margin-top: 3vh;
    color: black;
}