.UserIconLink__wrapper {
    position: relative;
}

.UserIconLink__wrapper .Popup {
    z-index: -999;
    pointer-events: none;
}

.UserIconLink__wrapper:hover .Popup {
    /* display: block; */
    margin-top: 8px;
    opacity: 1;
    z-index: 999;
    pointer-events: all;
}


.UserIconLink__icon {
    margin-top: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin: 0 0.5vw;
    fill: black;
}

.UserIconLink__icon-white {
    fill: white;
}

.UserIconLink__icon-active {
    fill: green;
}

.UserIconLink__icon-active-red {
    fill: red;
}

.UserIconLink__ContentMarker {
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    position: absolute;
    top: -2px;
    right: 0;
    border-radius: 50px;
    background-color: red;
    color: white;
    font-size: 11px;
}