.FooterContacts__wrapper {
    width: 25%;
    display: inline-block;
}
.FooterContacts__wrapper > ul {
    list-style-type: none;
}

.FooterContacts__icon {
    width: 22px;
    height: 22px;
    fill: #eb5f0a;
    margin-right: 15px;
}

.FooterContacts__social-wrapper {
    display: flex;
    justify-content: space-around;
}