.ItemPageCharacteristics__info {
    width: 50vw;
}

.ItemPageCharacteristics__info-header {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    display: block;
    width: 100%;
}

.ItemPageCharacteristics__info th,
.ItemPageCharacteristics__info td {
    text-align: left;
}

.ItemPageCharacteristics__info td {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.ItemPageCharacteristics__tag {
    display: flex;
}

.ItemPageCharacteristics__tag::after {
    content: '';
    display: block;
    flex-grow: 1;
    margin-left: 20px;
    border-bottom: 1px dotted #d2d2d2;
}